.card-like-save {
  background-image: url("../../images/like.svg");
}

.card-like-active {
  background-image: url("../../images/like-active.svg");
}

.card-like-active:hover {
  background-image: url("../../images/like-remove.svg");
}

.card-compare-unchecked {
  background-image: url("../../images/unchecked-icon.svg");
}

.card-compare-checked {
  background-image: url("../../images/checked-icon.svg");
}


@media only screen and (max-width: 768px) {
  .pokemon-card {
    padding: 0.5rem;
  }

  .pokemon-image {
    height: 150px;
  }

  .pokemon-name {
    font-size: 1.125rem;
  }

  .pokemon-stat {
    font-size: 1rem;
  }
}