.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #333;
  font-weight: bold;
  font-size: 2rem;
}

.pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 1rem;

  grid-gap: 1rem;
}



@media only screen and (max-width: 768px) {
  .pokemon-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}