.favorites-list {
  position: fixed;
  right: 0;
  bottom: 75px;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.favorites-list-minimized {
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  background-color: transparent;
  box-shadow: none;
}

.favorites-list-maximized {
  max-width: 474px;
}

.remove-all-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border: none;
  background: url("../../images/remove-bin.svg") no-repeat 50%;
  background-size: contain;
  text-align: center;
  cursor: pointer;
}

.fav-button {
  position: fixed;
  right: 0;
  bottom: 75px;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  text-align: center;
  cursor: pointer;
}

.fav-min-button {
  background: url("../../images/minimize.svg") no-repeat 50%;
  background-size: contain;
}

.fav-max-button {
  background: url("../../images/maximize.svg") no-repeat 50%;
  background-size: contain;
}

.fav-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem 0 0;
}

.fav-container-min {
  align-content: flex-start;
  flex-flow: column wrap-reverse;
  padding: 0;
  max-height: 70vh;

  grid-gap: 0.5rem;
}



@media only screen and (max-width: 768px) {
  .favorites-list-maximized {
    max-width: 284px;
  }
}