.App {
  min-height: 100vh;
  background-color: #f2f2f2;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #000;
}

.App-title {
  margin: 0;
  font-size: 2rem;
}

.logo {
  color: #333;
  font-weight: bold;
  font-size: 2rem;
}

.select-container {
  display: flex;
  align-items: center;
}

.select-container label {
  margin-right: 0.5rem;
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
}

.select-container select {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;

  appearance: none;
}

.select-container select:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #333;
  font-weight: bold;
  font-size: 2rem;
}

.pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 1rem;

  grid-gap: 1rem;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pokemon-image {
  display: flex;
  overflow: hidden;
  justify-content: center;
  height: 200px;
}

.pokemon-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.pokemon-details {
  margin-top: 1rem;
  text-align: center;
}

.pokemon-name {
  margin-bottom: 0.5rem;
  color: #333;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.5rem;
}

.pokemon-stats {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.pokemon-stats div {
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
}

.more-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.more-button {
  padding: 10px 142px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.more-button:hover {
  background-color: #3e8e41;
}


@media only screen and (max-width: 768px) {
  .pokemon-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .pokemon-card {
    padding: 0.5rem;
  }

  .pokemon-image {
    height: 150px;
  }

  .pokemon-name {
    font-size: 1.2rem;
  }

  .pokemon-stats div {
    font-size: 1rem;
  }
}