.App {
  min-height: 100vh;
  background-color: #f2f2f2;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  color: #333;
  font-weight: bold;
  font-size: 2rem;
}

.select-container {
  display: flex;
  align-items: center;
}

.select-container label {
  margin-right: 0.5rem;
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
}

.select-container select {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;

  appearance: none;
}

.select-container select:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #000;
}

.App-title {
  margin: 0;
  font-size: 2rem;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #333;
  font-weight: bold;
  font-size: 2rem;
}

.pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 1rem;

  grid-gap: 1rem;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pokemon-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.pokemon-image img {
  max-width: 100%;
  height: 200px;
}

.pokemon-details {
  margin-top: 1rem;
  text-align: center;
}

.pokemon-name {
  margin-bottom: 0.5rem;
  color: #333;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.5rem;
}

.pokemon-stats {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.pokemon-stats div {
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .pokemon-container {
    padding: 10px;
  }

  .pokemon-card {
    margin: 10px;
  }

  .pokemon-image img {
    width: 100px;
    height: 100px;
  }

  .pokemon-name {
    font-size: 18px;
  }
}