.App {
  min-height: 100vh;
  background-color: #f2f2f2;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  padding: 20px;
  background-color: #fff;
  color: #000;
}

.App-title {
  margin: 0;
  font-size: 36px;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.pokemon-card {
  overflow: hidden;
  margin: 20px;
  width: 250px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.pokemon-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.pokemon-image img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.pokemon-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #f2f2f2;
  text-align: center;
}

.pokemon-name {
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 24px;
}

.pokemon-stats {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pokemon-stats div {
  margin: 5px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .pokemon-container {
    padding: 10px;
  }

  .pokemon-card {
    margin: 10px;
  }

  .pokemon-image img {
    width: 100px;
    height: 100px;
  }

  .pokemon-name {
    font-size: 18px;
  }
}